body {
    background-color: #141515;
    width: 100%;
}


.ficha {
    width: 100%;
}

.ficha img {
    border-radius: 50px;
    box-shadow: 0 0 200px rgba(0, 235, 252, 0.5);
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 50px;
}

.ficha-descricao {
    margin: 100px auto;
    width: 80%;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}

p{
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto Slab', serif;
}